In [3]:
import math
import numpy as np
import pandas as pd

def factorial(n):
    sum_factorial = 1
    for i in range(1, n + 1):
        sum_factorial *= i
    return sum_factorial


def bernouli(n):
    if n <= 0:
        return 1
    else:
        s = 0
        for k in range(1, n + 1):
            s += bink(n + 1, k + 1) * bernouli(n - k)
        return -1 / (n + 1) * s


# Биномиальный коэффициент Ньютона
def bink(n, k):
    return factorial(n) / (factorial(k) * factorial(n - k))

In [14]:

alpha = 1.1
n = []
z_exact = 10.5844484649508098
zn_zexact = []
for degree in range(1,11):
    n.append(math.pow(2,degree))
    z_n = -1 / (alpha - 1) * math.pow(n[-1], -(alpha - 1)) + 0.5 * math.pow(n[-1], -alpha)
    for i in range(1, degree + 1):
        divisior = 1
        for k in range(1, degree + 1):
            divisior *= (alpha + 2 * k - 2)
        divisior = - divisior * bernouli(2 * i) * math.pow(n[-1], -(alpha + 2 * i - 1)) / factorial(2 * i)
        z_n += divisior

    z_n = z_exact + z_n
    zn_zexact.append(z_n - z_exact)
print(z_n)
df = pd.DataFrame(n,zn_zexact)
df

-26.434754877865295

                 0
-9.118454      2.0
-8.612132      4.0
-8.090146      8.0
-7.585359     16.0
-7.124677     32.0
-6.759797     64.0
-6.664877    128.0
-7.544185    256.0
-12.545274   512.0
-37.019203  1024.0